@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  background-color: #1a1734;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 20px;
  background-color:rgb(178, 183, 191);
  border-radius: 10px;
  width: 55%;
  overflow:scroll;
}
.searchSection {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}
input {
  width: 100%;
  padding: 12px 42px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  background-image: url("https://img.icons8.com/ios-filled/50/000000/search--v1.png");
  background-color: rgba(255, 255, 255, 0.608);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left;
  background-position-x: 1%;
  position: relative;

}

input:focus{
  opacity: 1;
  background-blend-mode: darken;
}
.searchSection > span {
  padding: 12px;
  /* font-size: 15px; */
  color: rgb(0, 0, 0);
  opacity: .5;
  font-style: italic;
  /* word-wrap: break-word; */
}

li{
    border-bottom: solid 2px #00000029;
    margin: 10px;
    padding-bottom: 15px;
    list-style: none;
}
li:last-child{
    border-bottom: none;
}
.word .details p{
    font-size: 25px;
    font-weight: 500;
    opacity: 1;
    font-style: normal;
}
p{
    font-size: 15px;
    color: #000;
    font-style: italic;
    opacity: .5;
}
.word .details span{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    opacity: .4;
    font-style: italic;
}
.fa-volume-up{
    float: right;
    font-size: 20px;
    color: #000;
    opacity: .6;
    cursor: pointer;
}
.fa-volume-up:hover{
    opacity: 1;
}
.fa-volume-up:active{
    opacity: .4;
}

.details{
    padding-left: 10px;
    border-left: solid 3px #7070d6;
}
#word{
    border-left: none;
    padding: 0;
    margin: 0;
}
ul{
  height: 0;
  overflow: scroll;
  transition: all .6s ease;
}
.sea{
  margin: 0;
  padding: 0;
  position: relative;
}
.clear{
  position: absolute;
  font-size:20px;
  top: 25%;
  right: 3%;
  font-size: large;
  cursor: pointer;
  opacity: .5;
}
.clear:hover{
  opacity: 1;
}
.clear:active{
  opacity: .4;
}
.active{
  height: 350px ;
  transition: all .8s ease;
}


@media screen and (max-width: 760px) {
  .container{
    padding: 8px;
    width: 90%;
  }
  h1 {
    font-size: 30px;
  }
  input {
    padding: 8px 40px;
    font-size: 16px;
  }
  ul{
      padding: 10px;
  }
  li{
      padding-bottom: 8px;
  }
  .word .details p{
    font-size: 23px;
  }
  .details{
    padding-left: 5px;
    border-left: solid 3px #7070d6;
}
}

